# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=f90fc0b1-aa85-43a3-99d6-486f74c1b68b

    # Set to true to disable all reporting
    B:opt-out=false
}


