# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=e65bce8e-ff26-48bf-bfa0-7428585ef62c

    # Set to true to disable all reporting
    B:opt-out=false
}


